
#gameMain, #titleContainer, #messageContainer, #charContainer, #arena, #enemyContainer, #graveyardContainer {
    border: 1px solid red;
}

#heroContainer, #arenaDivider, #opponentContainer {
    border: 1px solid blue;
}

#gameMain {
    background-color: lightgray;
}

#charContainer {
    display: inline; 
}

#message {
    font-weight: bold;
}

.charimage {
    width: 70px;
}
.character {
    width: 120px;
    height: 120px;
    font-size: 10pt;
    background-color: white;
    margin: 10px;
}

.char {
    border: 4pt solid blue;
}

.hero {
    border: 4pt solid green;
}

.opponent {
    border: 4pt solid red;
}

.enemy {
    border: 4pt solid orange;
}
