* {
    font-family: 'Uncial Antiqua', 'Macondo Swash Caps', cursive;
    -webkit-text-stroke: 0.25px white;   

}

body {
    background-image: url("../images/ragnarok-bg.png");
    background-size: cover;
    
}

#gameTitle {
    -webkit-text-stroke: 0.5px #fcfcfc;   
}

#characterContainer, #enemyContainer, #graveyardContainer {
    border-radius: 25px;
    margin: 10px 0px 10px 10px;   
}

#characterContainer, #enemyContainer, #graveyardContainer, #heroContainer, #opponentContainer {
    background-color: rgba(250,250,250,.5);
}
    

#characterContainer {
    border: 2px solid blue;
}

#enemyContainer {
    border: 2px solid orange;
}

#graveyardContainer {
    border: 2px solid black;
}

#gameMain, #titleContainer, #messageContainer {
    margin: 10px;
}

#arena {
    text-align: center;
    margin: 10px 0px 10px 10px;
}

#gameMain {
    /* background-color: white; */
}

#gameMessage {
    height: 80px;
    font-size: 14pt;
}

#divHeading, h3 {
    margin-top: 5px;
}

.charimage {
    width: 70px;
}

.character {
    width: 125px;
    height: 125px;
    font-size: 10pt;
    background-color: white;
    margin: 10px;
}

.char {
    border-radius: 25px;
    border: 4pt solid blue;
}

.hero, #heroContainer {
    border-radius: 25px;
    border: 4pt solid green;
}

.opp, #opponentContainer {
    border-radius: 25px;
    border: 4pt solid red;
}

.enemy {
    border-radius: 25px;
    border: 4pt solid orange;
}

.grave {
    border-radius: 25px;
    border: 4pt solid black;
}
